PORT=3000
SUPABASE_URL=
SUPABASE_ANON_KEY=
STRIPE_CHECKOUT_BUDGET_URL=
STRIPE_CHECKOUT_BUNDLE_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_BUDGET=
STRIPE_PRICE_BUNDLE=
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox
